[Desktop Entry]
Comment=Displays bcache statistics
Encoding=UTF-8
Icon=utilities-system-monitor
Keywords=
Name=BCacheStats
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kyle Agronick
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Email=agronick@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=bcachestats
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=270,340  
X-Plasma-MainScript=ui/bcachestats.qml
X-Plasma-RemoteLocation=
